<div class="template-wrapper linker-outer" id="linker-outer">
    <div class="linker-button-outer"><div class="linker-button">0x393939</div>BTC</div>
    <div class="linker-button-outer"><div class="linker-button">0x393939</div>ETH</div>
    <div class="linker-button-outer"><div class="linker-button">0x393939</div>XLM</div>
    <div class="linker-button-outer"><div class="linker-button">0x393939</div>XRP</div>
    <div class="linker-button-outer"><div class="linker-button">0x393939</div>UNI</div>
</div>
<style>{{ template "linker.css" }}</style>
<script>{{ template "linker.js"}}</script>
