.linker-button-outer {
    margin: 1em;
    padding: 0.25em;
    background-color: #ffffff;
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.linker-button {
    background-color: #d97c68;
    border-radius: 0.3em;
    padding: 0.2em;
    color: white;
    margin-right: 1em;
}
